<%- include header.ejs %>


<body class="landing-page sidebar-collapse">
  
  <%- include navbar.ejs %>
  
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.shriramgi.com%2Fnews-events%2Fwp-content%2Fuploads%2F2016%2F10%2FANY-GRIEVANCE-PLEASE.png&f=1&nofb=1')">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1 class="title">Your problems will now be heard.</h1>
          <h4>This portal will be a one-point stop for all the students to bring their problems and issues to the fore, so that they can be addressed efficiently.</h4>
          <br>
          <a href="/login" class="btn btn-danger btn-raised btn-lg">
            <i class="fa fa-envelope-open-o">&nbsp;</i> File a complaint
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Let&apos;s talk</h2>
            <h5 class="description">Any issues regarding your hostel or mess, any issues with the security, any sort of bullying or harassment. Bring your issues to the fore with this portal and end them optimally! </h5>
          </div>
        </div>
        <div class="features">
          <div class="row">
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-info">
                  <i class="material-icons">chat</i>
                </div>
                <h4 class="info-title">Efficient hierarchy</h4>
                <p>Complaints follow a strict hierarchy so that process is smooth for all participants.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-success">
                  <i class="material-icons">verified_user</i>
                </div>
                <h4 class="info-title">Documented Process</h4>
                <p>The entire process from the filing of a complaint to its redressal is well documented.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">fingerprint</i>
                </div>
                <h4 class="info-title">Anonymity</h4>
                <p>Only you know and the higher levels know about your complaints and the process is secure.</p>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="section text-center">
        <h2 class="title">Here is our team</h2>
        <div class="team">
          <div class="row">
            <div class="col-md-3">
              <div class="team-player">
                <div class="card card-plain">
                  
                  <div class="col-md-8 ml-auto mr-auto">
                    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHq2aIBRgyrbg/profile-displayphoto-shrink_200_200/0/1610439669724?e=1623283200&v=beta&t=XufGhIFtsQRT3o8GRG4PumuZE-tv06Ruo5_R7zaK05E" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>

                  <h4 class="card-title">Prakhar Vijay
                    <br>
                    <small class="card-description text-muted">CSE(2018-22), KNIT Sultanpur</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">I like doing backend development and developing applications and websites in general.</p>
                  </div>
                  <div class="card-footer justify-content-center">
                    <a href="https://github.com/furher023" class="btn btn-link btn-just-icon"><i class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/prakhar-vijay-07a486185/" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team-player">
                <div class="card card-plain">
                  
                  <div class="col-md-8 ml-auto mr-auto">
                    <img src="https://media-exp1.licdn.com/dms/image/C5103AQErCuuynuYKXw/profile-displayphoto-shrink_200_200/0/1556830554968?e=1623283200&v=beta&t=b3kfw5JZsKhl3peDkret1DQvQe8DxlecJURMPsYmN6s" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>

                  <h4 class="card-title">Shikher Sinha
                    <br>
                    <small class="card-description text-muted">IT(2018-22), KNIT Sultanpur</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">I like competitive programming, web development, and solving problems in general. </p>
                  </div>
                  <div class="card-footer justify-content-center">
                    <a href="https://github.com/shikher25git" class="btn btn-link btn-just-icon"><i class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/shikher-sinha-384415179/" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team-player">
                <div class="card card-plain">
                  
                  <div class="col-md-8 ml-auto mr-auto">
                    <img src="https://media-exp1.licdn.com/dms/image/C5103AQFC1JVhSoBtnw/profile-displayphoto-shrink_200_200/0/1580219083584?e=1623283200&v=beta&t=P4aGm_S1AmLRogBSU8Qz9H4GprSMoDAV6z4V9CYh5d8" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>

                  <h4 class="card-title">Garima Ahuja
                    <br>
                    <small class="card-description text-muted">CSE(2018-22), KNIT Sultanpur</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">I like front-end development and have a keen interest in problem solving and reasoning.</p>
                  </div>
                  <div class="card-footer justify-content-center">
                    <a href="https://github.com/garima0508" class="btn btn-link btn-just-icon"><i class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/garima-ahuja-680b9b1a0/" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="team-player">
                <div class="card card-plain">

                  <div class="col-md-8 ml-auto mr-auto">
                    <img src="https://media-exp1.licdn.com/dms/image/C5103AQHY96zn6rTcWw/profile-displayphoto-shrink_200_200/0/1586066657929?e=1623283200&v=beta&t=QBoRcUAKVxc5HkTJSMZCAnDo60b2N3WDKrfgAeBrDiQ" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  
                  <h4 class="card-title">Karandeep Singh
                    <br>
                    <small class="card-description text-muted">IT(2018-22), KNIT Sultanpur</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">I have a great interest in competitve programming and developing things that I enjoy.</p>
                  </div>
                  <div class="card-footer justify-content-center">
                    <a href="https://github.com/karandeep09" class="btn btn-link btn-just-icon"><i class="fa fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/karandeep-singh-6715271a5/" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section section-contacts">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center title">FEEDBACK</h2>
            <h4 class="text-center description">Please fill this form to give us an honest feedback about this application, or if you want to contact us.</h4>
            <form class="contact-form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Your Name</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Your Email</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleMessage" class="bmd-label-floating">Your Message</label>
                <textarea type="email" class="form-control" rows="4" id="exampleMessage"></textarea>
              </div>
              <div class="row">
                <div class="col-md-4 ml-auto mr-auto text-center">
                  <button class="btn btn-primary btn-raised">
                    Send Message
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include footer.ejs %>
</body>
</html>