<%- include header.ejs %>

<body class="login-page sidebar-collapse">
  
<%- include navbar.ejs %>
  <style>
  .text{
  color: red;
  }
  .dis{
  display:inline-block;
  }
  input[type=checkbox]{
  display:none;
  }
  input[type=checkbox] + label::before{
     content: "\2714";
     border: 0.1em solid red;
     border-radius: 0.2rem;
     width: 1em;
     height: 1em;
     padding-right: 0.2em;
      color: transparent; 
  }
  input[type=checkbox]:checked + label::before{
     background-color: red;
     color: #fff;
  }
  
  </style>
  <div class="page-header header-filter" style="background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.shriramgi.com%2Fnews-events%2Fwp-content%2Fuploads%2F2016%2F10%2FANY-GRIEVANCE-PLEASE.png&f=1&nofb=1'); background-size: cover; background-position: top center;">
    <div class="container" style = "margin-top: 70px;">
      <div class="row">
        <div class="col-lg-7 col-md-6 ml-auto mr-auto">
          <div class="card card-login" style=" padding-top:30px;">
            <form class="form" method="POST" enctype="multipart/form-data" action="/user/complaint">
              <div class="card-header card-header-danger text-center">
                <h3 class="card-title">Register Your Complaint</h3>
              </div>
              <div class="card-body">
                <div class="input-group" >
                  <div class="dropdown">
                    <button class="btn btn-danger btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Grievence Area
                    </button>
                    <div class="dropdown-menu danger" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" onclick="alice(0)">Hostel Amenities</a>
                        <a class="dropdown-item" onclick="alice(1)">Mess Food</a>
                        <a class="dropdown-item" onclick="alice(2)">Security</a>
                        <a class="dropdown-item" onclick="alice(3)">Ragging / Bullying</a>
                        <a class="dropdown-item" onclick="alice(4)">Sexual Harrasement</a>


                    </div>
                  </div>
                </div>
                <input name="type" type="type" class="form-control" id="comptype" hidden>
                <script type="text/javascript">
                  function alice(inp){
                    //console.log("clicked")
                    switch(inp){
                      case 0: document.getElementById("dropdownMenuButton").innerHTML="Hostel Amenities";
                              document.getElementById("comptype").value=0;
                              break;
                      case 1: document.getElementById("dropdownMenuButton").innerHTML="Mess Food";
                              document.getElementById("comptype").value=1;
                              break;
                      case 2: document.getElementById("dropdownMenuButton").innerHTML="Security";
                              document.getElementById("comptype").value=2;
                              break;
                      case 3: document.getElementById("dropdownMenuButton").innerHTML="Ragging / Bullying";
                              document.getElementById("comptype").value=3;
                              break;
                      case 4: document.getElementById("dropdownMenuButton").innerHTML="Sexual Harrasement";
                              document.getElementById("comptype").value=4;
                              break;
                    }
                    
                  };
                </script>

                <br/>
                <div class="form-group">
                  <label class="text-danger" for="subject">Subject</label>
                  <input name="subject" type="subject" class="form-control" id="subject" >
                </div>
                
                
                <div class="form-group">
                  <label class="text-danger" for="description">Description</label>
                  <textarea name="body" class="form-control" id="description" rows="3"></textarea>
                </div>
               
                <div class="container ">
                    <div class="dis">
                      
                      <input name="proof" multiple="multiple" id="default-btn1" type="file" >
                    </div>
                </div> 
                

                 <div class="form-check">
                     <input name="anonymous" type="checkbox" value=true id="check">
                     <label class="text-danger" for="check">
                       Report as Anonymous 
                      </label>
                  </div>

              </div>
              <div class="text-center">
                <button class="btn btn-danger btn-round" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>  
      </div>
    </div>
    <%- include ../footer.ejs %>
  </div>  
</body>
<script>
 const defaultBtn1 = document.querySelector("#default-btn1");
function defaultBtnActive1(){
        defaultBtn1.click();
      }
</script>      
</html>