<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br> 
    Impedit a nihil earum voluptatem quisquam totam rem architecto <br> 
    consequuntur aliquam nemo! Facere corporis quod vero possimus sunt harum fugit eius similique?
</body>
</html>